<div class="flex mb-1 items-center">
    <div class="w-5 flex-none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
            <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 0 0-3 3v4.318a3 3 0 0 0 .879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 0 0 5.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 0 0-2.122-.879H5.25ZM6.375 7.5a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z" clip-rule="evenodd" />
        </svg>
    </div>
    <div class="w-full flex-1 px-1 py-1.5 rounded bg-customTernary flex items-center gap-1" (click)="toggleOverlayHandler()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        <div class="text-xs bg-customPrimary rounded-sm px-1 flex items-center">
             Test
        </div>
        <div class="text-xs bg-customPrimary rounded-sm px-1 flex items-center">
             Another Test
        </div>
    </div>
</div>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayPanelClass="label-panel"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOptionOpen()"
  (overlayOutsideClick)="toggleOverlayHandler()"
  cdkConnectedOverlayWidth="14rem"
>
<div class="bg-customSecondary py-2 px-1 text-slate-300 border border-slate-500 rounded text-sm flex flex-col gap-1">
    <div class="">
        <ul class="flex flex-row flex-wrap gap-1 text-sm">
            @for (item of dummyItems; track $index) {
                <li class="bg-customTernary rounded-md px-1 cursor-pointer">{{item}}</li>
            }
            @if (labelList$ | async; as labelList) {
                @for (item of labelList.data; track $index) {
                    <li class="bg-customTernary rounded-md px-1 cursor-pointer">{{item}}</li>
                }
            }
        </ul>
    </div>
    <hr class="border-slate-500">
    @if (showAddLabelField()) {
        <div class="w-full">
            <input type="text" [formControl]="labelField" class="w-full bg-customTernary py-2 px-1 text-sm" 
            (keyup.enter)="toggleAddLabelHandler()" (blur)="toggleAddLabelHandler()" placeholder="Label Name" cdkTrapFocus [cdkTrapFocusAutoCapture]="true"/>
        </div>
    } @else {
        <div class="flex items-center w-full py-2" (click)="toggleAddLabelHandler()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg> <p class="w-full">Add new label</p>
        </div>
    }
</div>
</ng-template>
