<div class="w-52 rounded pb-5" [ngStyle]="{'background-color': status()?.status_color + '70'}">
    <p class="font-normal px-3 py-1 mx-1 mt-1 rounded border border-slate-500 from-current" [ngStyle]="{'background-color': status()?.status_color}">
        {{status()?.name | titlecase}}
    </p>
    @if (showAddTodoField()) {
        <app-todo-item />
    } @else {
        <div class="mt-4">
            <button (click)="toggleAddTodoField()" class="mx-1 px-3 py-2 text-slate-400 font-semibold w-full" >Add Task</button>
        </div>
    }
</div>