<div class="flex mb-1 items-center">
    <div class="w-5 flex-none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
            <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
        </svg>
    </div>
    <div class="w-full flex-1 px-1 py-1.5 rounded bg-customTernary flex items-center" (click)="toggleOverlayHandler()" cdkOverlayOrigin #triggerAssigned="cdkOverlayOrigin">
        <div class="text-xs bg-customPrimary rounded-sm px-1 flex items-center">
            Joselitz 
        </div>
    </div>
</div>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayPanelClass="label-panel"
  [cdkConnectedOverlayOrigin]="triggerAssigned"
  [cdkConnectedOverlayOpen]="isOptionOpen()"
  (overlayOutsideClick)="toggleOverlayHandler()"
  cdkConnectedOverlayWidth="14rem"
>
<div class="bg-customSecondary py-2 px-1 text-slate-300 border border-slate-500 rounded text-sm flex flex-col gap-1">
        <ul class="flex flex-row flex-wrap gap-1 text-sm">
            @if (userList.value(); as items) {
                @for (item of items.data; track $index) {
                    <li (click)="this.selectUserHandler(item.user_id)" class="bg-customTernary rounded-md px-1 cursor-pointer">{{item.username}}</li>
                }
            }
            @else {
                Fetching data ...
            }
        </ul>
</div>
</ng-template>